*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    background-color: rgb(75, 81, 87);
}

.card{
    background-color: rgb(244, 247, 246);
    width: 50vh;
    height: 30vh;
    margin-top: 50%;
    text-align: center;
    box-shadow: rgb(180, 0, 0) 100px;
    border-radius: 19px;
}
.card h1{
    top: 10px;
}

button{
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    width: 160px;
    height: 50px;
    margin-top: 20%;
    margin-left: 20px;
}

button:hover{
background-color:black ;
color: white;
transition: 1s;
}