<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="/static/usuarios.css" />
</head>

<body>
    <div class="container">
        <h1>Usuários Cadastrados</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <!-- CPF agora mostrado como identificador único -->
                    <th>CPF</th>
                    <th>E-mail</th>
                    <th>Idade</th>
                    <th>Senha</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.nome }}</td>
                    <td>{{ usuario.cpf }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.idade }}</td>
                    <td>{{ usuario.senha }}</td>
                    <td>
                        <form action="{{url_for('deletar_usuario')}}" method="post" onsubmit="return confirm('tem certeza que deseja deleta esse usuario?')"> 

                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>